<form id="form-enquiry" method="post" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#enquiry">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td class="text-end">{{ column_inquiry_id }}</td>
          <td class="text-end">{{ column_name }}</td>
          <td class="text-end">{{ column_product }}</td>
          <td class="text-end">{{ column_customer }}</td>
          <td class="text-end">{{ column_description }}</td>
          <td class="text-end">{{ column_date_added }}</td>
          <td class="text-end">{{ column_action }}</td>
        </tr>
      </thead>
      <tbody>
        {% if enquires %}
          {% for enquiry in enquires %}
            <tr>
              <td class="text-start">{{ enquiry.inquiry_id }}</td>
              <td class="text-start">{{ enquiry.name }}</td>
              <td class="text-start"><a href="{{ enquiry.producturl }}" target="_blank">{{ enquiry.pname }}</a></td>
              <td class="text-start">{% if vendor_info==1 %}
                {{ enquiry.sname }}<br/>
                {{ enquiry.email }}<br/>
                {{ enquiry.telephone }}
                {% else %}
                {{ enquiry.cname }}
              {% endif %}</td>
              <td class="text-end d-none d-lg-table-cell">{{ enquiry.description }}</td>
              <td class="text-start"><span class="badge bg-info"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ enquiry.date_added }}</span></td>
              <td class="text-end"><a href="{{ enquiry.view }}" data-bs-toggle="tooltip" target="_blank" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="7">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>