{{ header }}
<div id="account-message" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <div class="panel-body">
      <h1>{{ heading_title }}</h1>
        <div class="well">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-inquiry-id">{{ entry_inquiry_id }}</label>
                <input type="text" name="filter_inquiry_id " value="{{ filter_inquiry_id }}" placeholder="{{ entry_inquiry_id }}" id="input-inquiry-id" class="form-control" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_product }}</label>
                <input type="text" name="filter_product" value="{{ pname }}" placeholder="{{ entry_product }}" id="input-name" class="form-control" />
                <input type="hidden" name="product_id" value="{{ filter_product }}" />
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-author">{{ entry_name }}</label>
                <input type="text" name="filter_enqname" value="{{ filter_enqname }}" placeholder="{{ entry_name }}" id="input-author" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-name">{{ entry_vendor }}</label>
                <input type="text" name="filter_vendor" value="{{ sellername }}" placeholder="{{ entry_vendor }}" id="input-name" class="form-control" />
                <input type="hidden" name="vendor_id" value="{{ filter_vendor }}" />
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <label class="control-label" for="input-date-added">{{ entry_date_added }}</label>
                <div class="input-group date">
                  <input type="text" name="filter_date_added" value="{{ filter_date_added }}" placeholder="{{ entry_date_added }}" data-date-format="YYYY-MM-DD" id="input-date-added" class="form-control" />
                  <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                  </span></div>
              </div>
            </div>
            <div class="col-sm-2">
              <button style="margin-top:30px;" type="button" id="button-filter" class="btn btn-primary pull-right col-sm-12" title="{{ text_filter }}"><i class="fa fa-filter"></i> {{ text_filter }}</button>
            </div>
            <div class="col-sm-2">
              <a style="margin-top:30px;" href="{{ reset }}" class="btn btn-danger pull-right col-sm-12" title="{{ text_reset }}"><i class="fa fa-refresh"></i> {{ text_reset }}</a>
            </div>
          </div>

        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-left bgc1"><b>{{ column_inquiry_id }}</b></td>
                <td class="text-left bgc1"><b>{{ column_name }}</b></td>
                <td class="text-left bgc1"><b>{{ column_product }}</b></td>
                <td class="text-left bgc1"><b>{{ column_customer }}</b></td>
                <td class="text-left bgc1"><b>{{ column_description }} </b></td>
                 <td class="text-left bgc1"><b>{{ column_date_added }}</b></td>
                <td class="text-center bgc1"><b>{{ column_action }}</b></td>
            </tr>
          </thead>
          <tbody>
            {% if enquires %}
            {% for enquiry in enquires %}
            <tr>
              <td class="text-left">{{ enquiry.inquiry_id }}</td>
              <td class="text-left">{{ enquiry.name }}</td>
              <td class="text-left"><a href="{{ enquiry.producturl }}" target="_blank">{{ enquiry.pname }}</a></td>
               <td class="text-left">
                  {% if vendor_info==1 %}
                    {{ enquiry.sname }}<br/>
                    {{ enquiry.email }}<br/>
                    {{ enquiry.telephone }}
                    {% else %}
                    {{ enquiry.cname }}
                  {% endif %}
                </td>
              <td class="text-left">{{ enquiry.description }}</td>
              <td class="text-left"><span style="font-size:12px;" class="label btn-info"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ enquiry.date_added }}</span></td>
              <td class="text-center"><a href="{{ enquiry.view }}" data-toggle="tooltip" target="_blank" title="{{ button_view }}" class="btn btn-primary"><i class="fa fa-eye"></i></a></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td class="text-center" colspan="8">{{ text_no_results }}</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
    </div>
    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
  url = 'index.php?route=account/message';

  var filter_inquiry_id = $('#input-inquiry-id').val();
  if (filter_inquiry_id) {
    url += '&filter_inquiry_id=' + encodeURIComponent(filter_inquiry_id);
  }
        
  var filter_product = $('input[name=\'product_id\']').val();
  
  if (filter_product) {
    url += '&filter_product=' + encodeURIComponent(filter_product);
  }
  
  var filter_vendor = $('input[name=\'vendor_id\']').val();
  
  if (filter_vendor) {
    url += '&filter_vendor=' + encodeURIComponent(filter_vendor);
  }
  
  var filter_enqname = $('input[name=\'filter_enqname\']').val();
  
  if (filter_enqname) {
    url += '&filter_enqname=' + encodeURIComponent(filter_enqname);
  }
  
  /* 12 02 2020 */    
  var filter_date_added = $('input[name=\'filter_date_added\']').val();
  
  if (filter_date_added) {
    url += '&filter_date_added=' + encodeURIComponent(filter_date_added);
  }

  location = url;
});

$(document).bind('keypress', function(e) {
  if(e.keyCode==13){
    $('#button-filter').trigger('click');
  }
});
//--></script> 
  <script type="text/javascript"><!--
$('.date').datetimepicker({
  pickTime: false
});
//--></script>
<script type="text/javascript"><!--
$('input[name=\'filter_product\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=account/message/productautocomplete&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        json.unshift({
          product_id: 0,
          name:'{{ text_none }}'
        });
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['product_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_product\']').val(item['label']);
    $('input[name=\'product_id\']').val(item['value']);
  }
});
//Enquirer Name
$('input[name=\'filter_enqname\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=account/message/autocomplete&filter_enqname=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['inquiry_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_enqname\']').val(item['label']);
    $('input[name=\'inquiry_id\']').val(item['value']);
  }
});
</script>

<script type="text/javascript"> 
$('input[name=\'filter_vendor\']').autocomplete({
  'source': function(request, response) {
    $.ajax({
      url: 'index.php?route=account/message/vendorautocomplete&&filter_name=' +  encodeURIComponent(request),
      dataType: 'json',
      success: function(json) {
        json.unshift({
          vendor_id: 0,
          name:'{{ text_none }}'
        });

        response($.map(json, function(item) {
          return {
            label: item['name'],
            value: item['vendor_id']
          }
        }));
      }
    });
  },
  'select': function(item) {
    $('input[name=\'filter_vendor\']').val(item['label']);
    $('input[name=\'vendor_id\']').val(item['value']);
  }
});
</script>
<style>
.bgc1{background: #48c0f0;color: #fff;padding: 12px;}
</style>
{{ footer }}